<body>

    <div class="container">

      <!-- Static navbar -->


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>setState()</h1>
        <p>What a dumb game tbh.</p>
        <p>
          <form action="/games" method="post">
            <input class="btn btn-lg btn-primary"role="button" value="Play" />
          </form>
        </p>
      </div>

    </div> <!-- /container -->

</body>
