<body>

    <div class="container">

      <!-- Static navbar -->


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="h1 text-center">setState()</h1>
        <p class="text-center">What a dumb game tbh.</p>
        <div class="text-center">
          <form action="/games" method="post">
            <input class="btn btn-lg btn-primary"role="button" value="Play" />
          </form>
        </p>
      </div>

    </div> <!-- /container -->

</body>
